.page-header{
    padding: 12px 0;
    border-bottom: 1px solid rgba($color: $black, $alpha: .2);

    .header-content{
        @include between;

        .logo-link{
            .logo{
                max-width: 60px;
                max-height: 100px;
                object-fit: contain;
                
                @media screen and (max-width:$screen-sm) {
                    max-width: 50px;
                    max-height: 80px;
                }
            }
        }

        .head-items{
            @include between;
            gap: 30px;

            @media screen and (max-width:$screen-lg2) {
                gap: 15px;
            }

            @media screen and (max-width:$screen-sm) {
                display: none;
            }

            
            
            
            .item{
                display: flex;
                align-items: center;
                gap: 8px;
                transition: $main-transition;
                
                @media screen and (max-width:$screen-lg2) {
                    @include circle(44px);
                    @include center;
                    border: 1px solid $main;
                }

                .icon{
                    max-width: 25px;
                    max-height: 22px;
                }

                .text{
                    font-size: 15px;
                    color: $main;
                    transition: $main-transition;

                    @media screen and (max-width:$screen-lg2) {
                        display: none;
                    }
                }

                &:hover{
                    .text{
                        // font-size: 15px;
                        color: $dark;
                    } 
                }
            }
        }

        .buttons{

            @media screen and (max-width:$screen-sm) {
                gap: 8px;
                flex: 1;
                justify-content: end;
                @include dir-margin-right(15px)
            }

    
        
            .main-btn{
                @media screen and (max-width:$screen-md) {
                    @include circle(44px !important);
                    min-width: auto;
                }

                .text{
                    @media screen and (max-width:$screen-md) {
                        display: none;
                    }
                }
                
                .ic{
                    display: none;
                    @media screen and (max-width:$screen-md) {
                        display: block;
                    }
                }
            }
        }

        .profile{
            @media screen and (max-width:$screen-sm) {
                flex: 1;
                display: flex;
                justify-content: end;
                @include dir-margin-right(10px)
            }
        }
    }
}

.page-navbar{
    padding: 20px 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 888;
    background-color: $white;
    transition: $main-transition;

    @media screen and (max-width:$screen-lg) {
        position: unset;
    }

    .navbar-content{
        @include between;

        .side-open{
            display: none;
            font-size: 25px;
            cursor: pointer;
            color: $black;

            @media screen and (max-width:$screen-lg) {
                display: block;
            }
        }

        .links{
            display: flex;
            align-items: center;
            gap: 5px;
            transition: all .8s cubic-bezier(0.68, -0.30, 0.265, 1.3);

            @media screen and (max-width:$screen-lg2) {
                gap: 3px;
            }


            @media screen and (max-width:$screen-lg) {
                position: fixed;
                top: 0;
                @include dir-left(0);
                height: 100vh;
                width: 280px;
                flex-direction: column;
                align-items: flex-start;
                background-color: $white;
                box-shadow: $nav-shadow;
                z-index: 2000;
                padding: 30px 20px;
                gap: 8px;
                #{$ltr} & {
                    transform: translateX(-150%);
                }
                #{$rtl} & {
                    transform: translateX(150%);
                }

                &.active{
                    transform: translateX(0) !important;
                }

                overflow-y: auto;
                overflow-x: clip;

                &::-webkit-scrollbar {
                    width: 5px;
                }
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 25px;
                    background-color: $main;
                }
            }

            .link{
                padding: 10px 12px;
                border-radius: 5px;
                color: $black;
                font-size: 15px;
                
                @media screen and (max-width:$screen-lg2) {
                    padding: 10px 8px;
                }

                @media screen and (max-width:$screen-lg){
                    padding: 12px;
                    border-radius: 5px;
                    display: block;
                    width: 100%;
                    position: relative;
                    overflow: hidden;
                    flex-shrink: 0;

                    &::before{
                        position: absolute;
                        content: '';
                        top: 0;
                        @include dir-left(0);
                        width: 0px;
                        height: 100%;
                        background-color: #f9f9f9;
                        transition: all .4s ease;
                        z-index: -1;
                    }

                    &::after{
                        position: absolute;
                        content: '';
                        top: 50%;
                        transform: translateY(-50%);
                        @include dir-left(0);
                        width: 3px;
                        height: 50%;
                        background-color: $main;
                        border-radius: 8px;
                        transition: all .4s ease;
                        z-index: 1;
                    }

                    &:hover, &.active{
                        color: $main !important;
                        background-color: transparent !important;
                        &::before{
                            width: 100%;
                        }
                        &::after{
                            height: 98%;
                            @include dir-left(calc(99%));
                        }
                    }
                }
                
                &.active, &:hover{
                    background-color: $main;
                    color: $white;
                }
            }

            .logo{
                display: none;
                max-width: 60px;
                max-height: 100px;

                img{
                    width: 100%;
                    height: 100%;
                }

                @media screen and (max-width:$screen-lg) {
                    display: block;
                    margin: 0 auto 25px;
                }
            }


        }

        .nav-icons{
            display: flex;
            align-items: center;
            gap: 15px;
            
            @media screen and (min-width:$screen-lg) and (max-width:$screen-lg2) {
                gap: 8px;
            }

            @media screen and (max-width:$screen-xs) {
                gap: 8px;
            }

            .nav-ic{
                @include circle(44px);
                @include center;
                background-color: $sec;
                cursor: pointer;

                .ic{
                    max-width: 26px;
                    max-height: 20px;
                }
            }

            .nav-search{
                position: relative;
                
                .nav-search-ic{
                    position: relative;
                    transition: $main-transition;
                    z-index: 8;
                }

                .nav-search-inp{
                    position: absolute;
                    top: 50%;
                    #{$ltr} & {
                        transform: translateY(-50%) translateX(-118px);
                    }
                    #{$rtl} & {
                        transform: translateY(-50%) translateX(118px);
                    }
                    @include dir-left(0);
                    background-color: $white;
                    box-shadow: $main-shadow;
                    z-index: 7;
                    border-radius: 5px;
                    overflow: hidden;
                    opacity: 0;
                    pointer-events: none;
                    transition: $main-transition;
                    width: 280px;

                    .search{
                        height: 52px;
                        @include dir-padding-left(56px);
                        width: 100%;

                        &::placeholder{
                            font-size: 14px;
                            color: $black;
                        }
                    }

                    @media screen and (max-width:$screen-xs) {
                        #{$ltr} & {
                            transform: translateY(-50%) translateX(-132px);
                        }
                        #{$rtl} & {
                            transform: translateY(-50%) translateX(132px);
                        }
                    }
                }

                &.open{

                    .nav-search-ic{
                        
                        #{$ltr} & {
                            transform: translateX(-112px);
                        }
                        #{$rtl} & {
                            transform: translateX(112px);
                        }
                        
                        @media screen and (max-width:$screen-xs) {
                            
                            #{$ltr} & {
                                transform: translateX(-128px);
                            }
                            #{$rtl} & {
                                transform: translateX(128px);
                            }
                        }
                    }

                    .nav-search-inp{
                        opacity: 1;
                        pointer-events: auto;
                    }
                }
            }
        }
    }
}

