@import "sass/variables", "sass/mixins", "sass/global" , "sass/components", "sass/navbar", "sass/footer";


// home-section
.home-section{
    padding: 50px 0;

    @media screen and (max-width:$screen-lg) {
        padding: 20px 0;
    }

    .content{
        position: relative;
        padding: 40px 0;

        @media screen and (max-width:$screen-sm) {
            padding: 10px 0;
        }

        .right-sec{
            width: 440px;

            @media screen and (max-width:$screen-sm) {
                width: 100%;
            }

            .small-title{
                font-size: 22px;
                color: $main;
                margin-bottom: 15px;

                @media screen and (max-width:$screen-lg) {
                    font-size: 20px;
                }

                @media screen and (max-width:$screen-md) {
                    font-size: 18px;
                }
            }
            
            .big-title{
                font-size: 30px;
                margin-bottom: 30px;
                color: $dark;
                font-family: fontDemi;

                @media screen and (max-width:$screen-lg) {
                    font-size: 26px;
                }

                @media screen and (max-width:$screen-md) {
                    font-size: 24px;
                }
            }
            
            .desc{
                font-size: 20px;
                margin-bottom: 30px;
                line-height: 1.5;

                @media screen and (max-width:$screen-md) {
                    font-size: 18px;
                }
            }

            .buttons{
                margin-bottom: 40px;

                .yellow-transparent{
                    @media screen and (max-width:$screen-lg) {
                        background-color: $sec;
                        color: $white;
                    }
                }
            }

            .student{
                display: flex;
                align-items: center;
                gap: 10px;

                .left{
                    .num{
                        font-size: 18px;
                        color: $main;
                        margin-bottom: 5px;
                    }

                    .text{
                        font-size: 18px;
                        color: $black;
                    }
                }
            }
        }

        .home-bg{
            position: absolute;
            top: 0;
            @include dir-right(0);
            z-index: -1;

            width: 60%;
            height: 430px;

            @media screen and (max-width:$screen-lg2) {
                width: 70%;
                opacity: .4;
            }

            @media screen and (max-width:$screen-lg) {
                width: 100%;
                height: 100%;
                opacity: .1;
            }

            @media screen and (max-width:$screen-xxs) {
                object-fit: cover;
            }

        }
    }
}

// feature Section
.features-sec{

    @media screen and (max-width:$screen-lg) {
        position: relative;
    }

    .feature-boxs{
        @include grid(240px, 35px);
        
        @media screen and (max-width:$screen-sm) {
            @include grid(180px, 20px);
        }

        @media screen and (max-width:$screen-xs) {
            @include grid(120px, 20px);
        }

        .feature-box{
            display: flex;
            align-items: center;
            gap: 10px;

            @media screen and (max-width:$screen-sm) {
                flex-direction: column;
            }

            .feature-img{
                @include circle(75px);
                @include center;
                background-color: $sec;
                border: 3px solid $white;
                box-shadow: $img-shadow;
                flex-shrink: 0;
                
                @media screen and (max-width:$screen-md) {
                    @include circle(60px);
                }
                
                .img{
                    max-width: 40px;
                    max-height: 40px;
                    
                    @media screen and (max-width:$screen-md) {
                        max-width: 30px;
                        max-height: 30px;
                    }
                }
            }

            .feature-text{
                font-size: 19px;
                color: $dark;

                @media screen and (max-width:$screen-md) {
                    font-size: 17px;
                }

                @media screen and (max-width:$screen-xs) {
                    text-align: center;
                }
            }
        }
    }
    
    .feature-bg{
        max-width: 100%;
        max-height: 400px;
    }
}

// courses Section
.filter{
    display: flex;
    align-items: center;
    gap: 15px;
    // margin-bottom: 2.5rem;
    flex-wrap: wrap;

    .filter-select{
        width: 230px;
        border: 1px solid $main;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        
        @media screen and (max-width:$screen-xs) {
            width: 100%;
        }
        
        .select-img{
            position: absolute;
            pointer-events: none;
            max-width: 18px;
            max-height: 18px;
            top: 50%;
            @include dir-left(10px);
            transform: translateY(-50%);
            z-index: 2;
        }
        
        .select{
            ~ .select2 .select2-selection--single{
                border: none !important;
                @include dir-padding-left(30px);
                
                .select2-selection__rendered{
                    color: $black;
                    font-size: 16px;
                    
                    @media screen and (max-width:$screen-xs) {
                        font-size: 15px;
                    }
                }
            }
            
        }
    }
    
    .filter-btn{
        background-color: $main;
        color: $white;
        font-size: 16px;
        padding: 8px 20px;
        border-radius: 8px;
        min-height: 42px;
        @media screen and (max-width:$screen-xs) {
            font-size: 15px;
            order: 2;
        }
    }

    &.sm{
        .filter-select{
            // width: 200px;
            .select{
                ~ .select2 .select2-selection--single{
                    min-height: 42px;
                    @include dir-padding-left(6px);
                }
    
            }
        }
    }
}

.courses-cards{

    .course-card{
        box-shadow: $main-shadow;
        border-radius: 10px;
        overflow: hidden;
        transition: $main-transition;
        
        .img{
            overflow: hidden;
            height: 220px;
            .course-img{
                width: 100%;
                height: 100%;
                border-radius: 8px;
                object-fit: cover;
                transition: $main-transition;
            }

            @media screen and (max-width:$screen-xs) {
                height: 200px;
            }

        }
        
        .course-content{
            position: relative;
            padding: 46px 16px 20px;
            @media screen and (max-width:$screen-xs) {
                padding: 40px 12px 15px;
            }
            
            .course-name{
                position: absolute;
                top: -23px;
                left: 50%;
                transform: translateX(-50%);
                background-color: $main;
                min-height: 46px;
                width: calc(100% - 50px);
                @include center;
                text-align: center;
                color: $white;
                border-radius: 8px;
                font-size: 16px;
                
                @media screen and (max-width:$screen-xs) {
                    font-size: 15px;
                    min-height: 42px;
                    top: -21px;
                }
            }

            .course-items{
                .item{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 12px;
                    min-height: 23px;

                    @media screen and (max-width:$screen-sm) {
                        gap: 5px;
                    }
    
                    .item-img{
                        max-width: 22px;
                        max-height: 18px;
                    }
    
                    .item-text{
                        font-size: 15px;
                        color: $black;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        @media screen and (max-width:$screen-sm) {
                            font-size: 14px;
                        }
                    }
                }
            }

            .course-footer{
                @include between;
                gap: 8px;

                .course-price{
                    display: flex;
                    align-items: end;
                    flex-direction: column;
                    gap: 8px;
                    flex-shrink: 0;

                    .price{
                        color: $main;
                        font-size: 15px;
                    }

                    .old-price{
                        color: $dark;
                        font-size: 15px;
                        position: relative;
                        font-family: fontDemi;

                        &::after{
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) rotate(-195deg);
                            width: 60px;
                            height: 2px;
                            border-radius: 10px;
                            background-color: $sec;
                        }
                    }
                }
            }
        }

        &:hover{
            .course-img{
                transform: scale(1.1)
            }
        }
    }

    &.material-cards{
        // @include grid(310px, 30px);

        .course-card{
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 15px;
            flex-wrap: wrap;
            
            .img{
                width: 150px;
                height: 200px;
                flex-grow: 1;
            }
            
            .course-content{
                padding: 0;
                flex-grow: 1;
                
                .course-name{
                    position: unset;
                    transform: unset;
                    background-color: unset;
                    min-height: fit-content;
                    width: fit-content;
                    display: block;
                    text-align: start;
                    color: $black;
                    border-radius: 0;
                    font-size: 16px;
                    margin-bottom: 15px;
                }
    
                // .course-items{
                //     .item{
                //         display: flex;
                //         align-items: center;
                //         gap: 10px;
                //         margin-bottom: 15px;
                //         min-height: 23px;
        
                //         .item-img{
                //             max-width: 22px;
                //             max-height: 18px;
                //         }
        
                //         .item-text{
                //             font-size: 15px;
                //             color: $black;
                //         }
                //     }
                // }
    
                .course-footer{
                    flex-direction: row-reverse;
                    gap: 25px;
    
                    .course-price{
                        flex-shrink: 0;
                    }

                    .main-btn{
                        flex-shrink: 0;
                        min-width: fit-content;
                        padding: 0 25px;
                    }
                }
            }

            &:hover{
                transform: translateY(-7px);
                .course-img{
                    transform: unset
                }
            }
        }
    }
}

// partners-carousel
.partners-carousel{
    background-color: #fff;
    padding: 10px 0;
}

.partners-item {
    max-width: 130px;
    max-height: 120px;
    width: fit-content !important;
    margin: 0 auto;
    /* object-fit: cover; */
}


// Number Section
.numbers-section{
    .number-items{
        @include grid(195px, 30px);
        
        @media screen and (max-width:$screen-sm) {
            @include grid(140px, 20px);
        }

        .item{
            text-align: center;

            .num{
                color: $main;
                font-size: 19px;
                margin-bottom: 10px;

                @media screen and (max-width:$screen-xs) {
                    font-size: 17px;
                }
            }

            .name{
                color: $black;
                font-size: 19px;

                @media screen and (max-width:$screen-xs) {
                    font-size: 16px;
                }
            }
        }
    }
}


// news-section
.news-section{
    position: relative;
    .content{
        height: 100%;
        display: flex;
        align-items: center;
        
        .right{
            .news-title{
                font-size: 28px;
                margin-bottom: 25px;
                color: $dark;
                font-family: fontDemi;

                @media screen and (max-width:$screen-lg) {
                    font-size: 26px;
                }

                @media screen and (max-width:$screen-sm) {
                    font-size: 23px;
                }

                @media screen and (max-width:$screen-xs) {
                    margin-bottom: 15px;
                }
            }
            
            .news-desc{
                font-size: 20px;
                line-height: 1.7;
                margin-bottom: 20px;
                width: calc(100% - 50px);

                @media screen and (max-width:$screen-lg) {
                    width: 100%;
                    font-size: 22px;
                }

                @media screen and (max-width:$screen-sm) {
                    width: 100%;
                    font-size: 19px;
                }

                @media screen and (max-width:$screen-xs) {
                    width: 100%;
                    font-size: 16px;
                    margin-bottom: 12px;
                }
            }

            .news-form{
                .news-input{
                    margin-bottom: 15px;
                    box-shadow: none;
                    border-radius: 6px;
                    height: 46px;

                    @media screen and (max-width:$screen-md) {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .news_bg{
        max-width: 100%;
        width: 440px;
        max-height: 440px;

        @media screen and (max-width:$screen-lg) {
            position: absolute;
            top: 0;
            left: 0;
            height: 290px;
            opacity: .1;
            z-index: -1;
        }

        @media screen and (max-width:$screen-xs) {
            width: 100%;
        }
    }
}


// page-img-section
.page-img-section{
    .img{
        width: 400px;
        max-height: 400px;
        margin: auto;
        display: block;

        @media screen and (max-width:$screen-sm) {
            width: 300px;
        }
    }
}


// university-cards
.university-cards{
    margin-top: 80px;
    gap: 100px 55px;

    .univ-card{
        background-color: $main;
        padding: 80px 15px 30px;
        position: relative;
        @include center;
        border-radius: 8px;
        
        .univ-img{
            position: absolute;
            @include circle(110px);
            top: -55px;
            left: 50%;
            transform: translateX(-50%);
            overflow: hidden;
            transition: $main-transition;
            border: 7px solid transparent;
            
            .img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @media screen and (max-width:$screen-xs) {
                transform: translateX(-50%) scale(.8);
                border-color: $white;
            }
        }
        
        .univ-name{
            color: $white;
            font-size: 15px;
        }

        &:hover{
            .univ-img{
                transform: translateX(-50%) scale(.8);
                border-color: $white;
            }
        }
    }

}

// blog-cards
.blog-card{
    border-radius: 8px;
    overflow: hidden;
    transition: $main-transition;

    &:hover{
        transform: translateY(-5px);
        box-shadow: 0 0 15px 0 rgba($color: $black, $alpha: .2);
    }

    .blog-img{
        width: 100%;
        height: 220px;
        object-fit: cover;
    }

    .content{
        padding: 17px 10px;
        .head{
            @include between;
            gap: 5px;
            margin-bottom: 14px;

            .name{
                font-size: 17px;
                color: $black2;
                font-family: fontDemi;
                text-overflow: ellipsis;
            }

            .date{
                font-size: 14px;
                color: $text-color;
                font-family: fontReg;
            }
        }

        .info{
            font-size: 15px;
            color: $black2;
            margin-bottom: 14px;
            height: 75px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 3;
            line-height: 1.7;
            
            @media screen and (max-width:$screen-md) {
                height: auto;
                -webkit-line-clamp: initial;
            }
        }

        .main-btn{
            width: calc(100% - 40px);
            margin: auto;
        }
    }
}


// contact-img
.contact{
    position: relative;

    .contact-img{
        max-width: 100%;
    }
}

// new-detailes
.new-detailes{

    .content{
        display: flex;
        align-items: center;
        gap: 20px;

        @media screen and (max-width:$screen-md) {
            flex-wrap: wrap;
        }

        .img{
            flex-basis: 50%;
            height: 350px;
            object-fit: cover;
            border-radius: 8px;

            @media screen and (max-width:$screen-md) {
                flex-basis: 100%;
                width: 100%;
                height: 240px;
            }
        }

        .left{
            .name{
                font-size: 22px;
                color: $black;
                margin-bottom: 15px;
                font-family: fontDemi;

                @media screen and (max-width:$screen-xs) {
                    font-size: 19px;
                }
            }

            .date{
                font-size: 17px;
                color: $text-color;
                font-family: fontReg;

                @media screen and (max-width:$screen-xs) {
                    font-size: 16px;
                }
            }
        }
    }

    .info{
        font-size: 17px;
        line-height: 1.6;

        @media screen and (max-width:$screen-xs) {
            font-size: 15px;
        }
    }

}

// notification-sec
.notification-sec{
    position: relative;
    .not-items{
        @include grid(280px, 25px);

        .not-item{
            display: flex;
            align-items: center;
            gap: 15px;

            @media screen and (max-width:$screen-xs) {
                gap: 8px;
            }

            .not-img{
                @include center;
                @include circle(50px);
                border: 2px solid $main;
                flex-shrink: 0;

                @media screen and (max-width:$screen-xs) {
                    @include circle(44px);
                    border-width: 1px;
                }

                .img{
                    max-height: 24px;

                    @media screen and (max-width:$screen-xs) {
                        max-height: 20px;
                    }
                }

                
            }

            .info{
                font-size: 16px;
                color: $black;
                margin-bottom: 8px;
            }

            .text{
                font-size: 15px;
                color: $text-color;
                // font-family: fontReg;
            }
        }
    }

    .not-bg{
        max-width: 100%;
        // max-height: 300px;
    }
}

// check-input-card
.check-card{
    position: relative;

    .check-input-card{
        display: none;

        &:checked + .check-label-card{
            background-color: $main;
            .ic{
                opacity: 1;
            }
        }
    }

    .check-label-card{
        position: absolute;
        top: 10px;
        @include dir-right(10px);
        width: 34px;
        height: 34px;
        border-radius: 7px;
        background-color: $border-color;
        z-index: 20;
        cursor: pointer;
        @include center;
        transition: $main-transition;

        .ic{
            font-size: 16px;
            color: $white;
            opacity: 0;
            transition: $main-transition;
        }
    }
}